@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #26b888;
  color: #fff;
  font-weight: bold;
  font-family: "Courier New", "Courier", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .line-box {
      display: flex;
      aspect-ratio: 1/1;
      height: 80px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      .line {
        display: flex;
        flex: 1;
        background-color: #fff;
        border-radius: 10rem;
        margin: 0.5rem 0;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease;
        &.one {
          animation: animate-line-1-rev 0.7s ease-in-out;
        }
        &.two {
          animation: animate-line-2-rev 0.7s ease-in-out;
        }
        &.three {
          animation: animate-line-3-rev 0.7s ease-in-out;
        }
      }
      &.active {
        .one {
          animation: animate-line-1 0.7s ease-in-out forwards;
        }
        .two {
          animation: animate-line-2 0.7s ease-in-out forwards;
        }
        .three {
          animation: animate-line-3 0.7s ease-in-out forwards;
        }
      }
    }
  }
}

@keyframes animate-line-1 {
  0% {
  }
  50% {
    transform: translateY(27px);
  }

  100% {
    transform: translateY(27px) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  0% {
  }
  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes animate-line-3 {
  0% {
  }
  50% {
    transform: translateY(-27px);
  }

  100% {
    transform: translateY(-27px) rotate(135deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translateY(27px) rotate(45deg);
  }
  50% {
    transform: translateY(27px);
  }

  100% {
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
  }

  100% {
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translateY(-27px) rotate(135deg);
  }
  50% {
    transform: translateY(-27px);
  }

  100% {
  }
}
