$bezier: cubic-bezier(0.21, 0.98, 0.6, 0.99);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #42a7a1;
  color: #fff;
  font-weight: bold;
  font-family: "Courier New", "Courier", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .center {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
  }
}
